i.icon {
    font-size: 2em;;
}

.container.main {
    margin-top: 7.0em;
}

#delete {
    display: inline;
}

.mt img {
 padding: 10px 0;
 background: white;
 
}

.rounding {
    border-radius: 1px;
}